/* 
Light Color: #f8f9fa
Dark Color: #495057

Calc Light: #e7f5ff
Calc Dark: ##212529

Btn Border: #495057


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header {
  margin-top: 20px;
}

.header-h1 {
  font-size: 40px;
  font-weight: 700;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 350px;
  margin: auto;
}

.show-evaluation-section {
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.show-eval {
  font-size: 30px;
  font-weight: 500;
}

.btn-section {
  width: 300px;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 70px;
  height: 40px;
  margin: 5px auto;
  border-radius: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  border: 2px solid #d6336c;
}

.btn:active {
  background-color: #d6336c;
  border: 2px solid #e7f5ff;
  color: #e7f5ff;
  transition: 0.2s;
}

.footer {
  margin: auto;
  font-size: 16px;
}

.outer-light {
  border: 2px solid #495057;
  border-radius: 10px;
}

.outer-dark {
  border: 2px solid #f8f9fa;
  border-radius: 10px;
}

.background-light {
  background-color: #e7f5ff;
}

.background-dark {
  background-color: #212529;
}

.light-mode {
  background-color: #f8f9fa;
  color: #495057;
  border: 2px solid #495057;
}

.dark-mode {
  background-color: #495057;
  color: #f8f9fa;
  border: 2px solid #f8f9fa;
}

.light-mode-body {
  background-color: #f8f9fa;
  color: #495057;
}

.dark-mode-body {
  background-color: #495057;
  color: #f8f9fa;
}
